In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [85]:
products = pd.read_csv('products.csv')
stores = pd.read_csv('stores.csv')
transactions = pd.read_csv('transactions.csv')

In [65]:
transactions.describe()

            store_id       quantity     unit_price         margin
count  850548.000000  850548.000000  850548.000000  850548.000000
mean       25.544719       2.212695       5.567772       0.379868
std        14.419042       1.080688       2.894693       0.081023
min         1.000000       1.000000       1.490000       0.250000
25%        13.000000       1.000000       3.680000       0.350000
50%        26.000000       2.000000       4.700000       0.350000
75%        38.000000       3.000000       6.550000       0.450000
max        50.000000      10.000000      20.030000       0.500000

In [67]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850548 entries, 0 to 850547
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   transaction_id     850548 non-null  object
 1   store_id           850548 non-null  int64
 2   date               850548 non-null  object
 3   product_id         850548 non-null  object
 4   category           850548 non-null  object
 5   quantity           850548 non-null  int64
 6   unit_price         850548 non-null  float64
 7   is_loyalty_member  850548 non-null  bool
 8   margin             850548 non-null  float64
dtypes: bool(1), float64(2), int64(2), object(4)
memory usage: 52.7+ MB

In [69]:
transactions.head()

,transaction_id,store_id,date,product_id,category,quantity,unit_price,is_loyalty_member,margin
0,T000001,13,2023-07-26 17:41:00,HOU_006,Household,2,6.75,True,0.45
1,T000001,13,2023-07-26 17:41:00,PER_028,Personal Care,1,8.59,True,0.50
2,T000001,13,2023-07-26 17:41:00,BEV_001,Beverages,1,3.59,True,0.50
3,T000001,13,2023-07-26 17:41:00,FRE_039,Fresh Produce,1,5.12,True,0.35
4,T000001,13,2023-07-26 17:41:00,FRO_037,Frozen Foods,3,5.70,True,0.40

In [87]:
transactions['date'] = pd.to_datetime(transactions['date'], dayfirst=True)

C:\Users\End User\AppData\Local\Temp\ipykernel_9420\1971244998.py:1: UserWarning: Parsing dates in %Y-%m-%d %H:%M:%S format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  transactions['date'] = pd.to_datetime(transactions['date'], dayfirst=True)

In [89]:
store_info = transactions.copy()

In [91]:
store_info = store_info.merge(stores, on='store_id').merge(products, on='category')

In [93]:
store_info['total_price'] = store_info['quantity'] * store_info['unit_price']
store_info['is_weekend'] = store_info['date'].dt.dayofweek > 4

In [95]:
store_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850548 entries, 0 to 850547
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   transaction_id     850548 non-null  object
 1   store_id           850548 non-null  int64
 2   date               850548 non-null  datetime64[ns]
 3   product_id         850548 non-null  object
 4   category           850548 non-null  object
 5   quantity           850548 non-null  int64
 6   unit_price         850548 non-null  float64
 7   is_loyalty_member  850548 non-null  bool
 8   margin_x           850548 non-null  float64
 9   location_type      850548 non-null  object
 10  store_size         850548 non-null  object
 11  region             850548 non-null  object
 12  avg_price          850548 non-null  float64
 13  margin_y           850548 non-null  float64
 14  shelf_life_days    850548 non-null  int64
 15  total_price        850548 non-null  float64
 16  is_weekend         850548 non-null  bool
dtypes: bool(2), datetime64[ns](1), float64(5), int64(3), object(6)
memory usage: 99.0+ MB

# association rule mining

In [98]:
from mlxtend.frequent_patterns import apriori, association_rules

basket = store_info.groupby(['transaction_id', 'category'])['quantity'].sum().unstack()
basket = (basket > 0).astype(int)

frequent_itemsets = apriori(basket, min_support=0.05, use_colnames=True)

rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)
print(rules)

C:\Users\End User\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

          antecedents                                        consequents  \
0            (Bakery)                                        (Beverages)
1         (Beverages)                                           (Bakery)
2      (Canned Goods)                                           (Bakery)
3            (Bakery)                                     (Canned Goods)
4             (Dairy)                                           (Bakery)
...               ...                                                ...
7467           (Meat)  (Household, Personal Care, Fresh Produce, Snacks)
7468  (Personal Care)           (Meat, Household, Fresh Produce, Snacks)
7469  (Fresh Produce)           (Meat, Household, Personal Care, Snacks)
7470         (Snacks)    (Meat, Household, Personal Care, Fresh Produce)
7471      (Household)       (Meat, Personal Care, Fresh Produce, Snacks)

      antecedent support  consequent support   support  confidence      lift  \
0               0.347735            0.349895  0.162745    0.468014  1.337585
1               0.349895            0.347735  0.162745    0.465125  1.337585
2               0.347065            0.347735  0.161275    0.464682  1.336312
3               0.347735            0.347065  0.161275    0.463787  1.336312
4               0.644875            0.347735  0.228180    0.353836  1.017545
...                  ...                 ...       ...         ...       ...
7467            0.348515            0.077050  0.050490    0.144872  1.880231
7468            0.348395            0.077060  0.050490    0.144922  1.880635
7469            0.824390            0.057085  0.050490    0.061245  1.072879
7470            0.347485            0.076625  0.050490    0.145301  1.896264
7471            0.346475            0.077385  0.050490    0.145725  1.883114

      leverage  conviction  zhangs_metric
0     0.041074    1.222035       0.386935
1     0.041074    1.219472       0.388221
2     0.040588    1.218464       0.385447
3     0.040588    1.217679       0.385843
4     0.003934    1.009442       0.048553
...        ...         ...            ...
7467  0.023637    1.079312       0.718590
7468  0.023643    1.079363       0.718633
7469  0.003430    1.004432       0.386813
7470  0.023864    1.080351       0.724347
7471  0.023678    1.079997       0.717593

[7472 rows x 10 columns]